<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="employee" class="com.javatpoint.SI.SIFirst.Employee">
        <property name="id" value="1"></property>
        <property name="city" value="Bucharest"></property>
        <property name="name" value="Teo Miu"></property>
    </bean>
    <!--dependentObject-->
    <bean id="address" class="com.javatpoint.SI.dependentObject.Address">
        <property name="addressLine1" value="addressLineExample"></property>
        <property name="city" value="Bucharest"></property>
        <property name="country" value="Romania"></property>
        <property name="state" value="Muntenia"></property>
    </bean>
    <bean id="employee2" class="com.javatpoint.SI.dependentObject.Employee">
        <property name="address" ref="address"></property>
        <property name="id" value="1"></property>
        <property name="name" value="Teo"></property>
    </bean>
    <!--si with Collection-->
    <bean id="question" class="com.javatpoint.SI.Collection.Question">
        <property name="name" value="What is java?"></property>
        <property name="id" value="1"></property>
        <property name="answers">
            <set>
                <value>Java is a programming language</value>
                <value>Java is a platform</value>
                <value>Java is an Island</value>
            </set>
        </property>
    </bean>

</beans>