<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spitter</title>
    <link rel="stylesheet"
          type="text/css"
          href="/resources/style.css" />
</head>
<body>
<div class="spittleView" th:each="spittle: ${spittleList}">
    <li th:id="spittle_+${spittle.id}">
        <div class="spittleMessage" th:text="${spittle.message}"></div>
        <div>
            <span class="spittleTime" th:text="${spittle.time}"></span>
            <span class="spittleLocation" th:text="'('+${spittle.latitude}+','+${spittle.longitude}+')'">
            </span>
        </div>
    </li>
</div>
</body>
</html>